<div>
    <h2>Salas</h2>

    <ul>
        <li>
            <a asp-controller="Sala" asp-action="Create">
                Cadastrar
            </a>
        </li>
        <li>
            <a asp-controller="Sala" asp-action="Update">
                Editar
            </a>
        </li>
        <li>
            <a asp-controller="Sala" asp-action="Delete">
                Excluir
            </a>
        </li>
    </ul>
</div>
